@import "nav";
@import "carousel";
@import "column";
@import "prenotaora";

body {
  margin: 0px;
  font-family: "Prata", serif;
}
h3 {
  text-align: center;
  color: lightcyan;
  font-size: xx-large;
  font-weight: bold;
}
